---
layout: default
---

<div class="post">
  <article class="post-content">

    <div style="text-align:center;">
      <img src="{{ site.baseurl }}/images/about/me.jpg" alt="Jacob Kelly"
        style="
          width: 250px;
          border-radius: 50%;
        "/>
    </div>

    <header class="post-header" style="text-align: center;">
      <h1 class="h2">Hi, I'm Jacob</h1>
    </header>

    <header class="site-header px2 px-responsive">
      <div class="wrap">
        <div class="measure">
          <div class="clearfix"></div>
          {% if site.show_social_icons %}
            {% include social_links.html %}
          {% endif %}
        </div>
      </div>
    </header>

    <p>
    I study Computer Science, Mathematics, and Statistics at the
    <a href="https://www.utoronto.ca/" target="_blank">University of Toronto</a>.
    I'm currently working with <a href="https://www.cs.toronto.edu/~duvenaud/" target="_blank">David Duvenaud</a>
    at the <a href="https://vectorinstitute.ai" target="_blank">Vector Institute</a> on improving the efficiency of
    neural ODEs.
    Previously, I worked with
    <a href="https://www.pmgenomics.ca/bhklab/" target="_blank">Benjamin Haibe-Kains</a>
    at <a href="http://www.uhnresearch.ca/institutes/pm" target="_blank">Princess Margaret Cancer Research</a>
    on benchmarking machine learning techniques for inferring sample-specific transcriptional networks from single-cell RNA-seq data,
    and predicting drug response of cell lines from gene expression for patients with acute myeloid leukemia.
    <br><br>
    My long-term goal is to improve healthcare through technology. Towards this goal,
    I'm interested in researching how machine learning combined with novel sources of data
    can be used to develop new tools for improved diagnosis and treatment of patients.
    I'm particularly interested in latent variable models, neural ODEs, variational inference, and genomics.
    <br><br>
    Some of my hobbies include running, rock climbing, and <a href="{{ site.url }}/bookshelf">reading</a>.
    <br><br>
    I'm always open to meeting new people, feel free to <a href="mailto: {{ site.email }}" target="_blank">get in touch</a>
    if you'd like to chat.
    </p>

  </article>
</div>
